:root {
  --primary: #CCAFAF;
  --secondary: #E9E7DD;
}
* {
    
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--secondary);
    
}

/*---------NAVBAR------------*/
.navbar .container{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar {
    height:5rem;
    background-color:var(--primary);
    color:#0a0909;
   line-height: 4rem;
   box-shadow:0px 50px 70px #CCAFAF;
   position: fixed;
   width: 100%;
}
.navbar img {
    height: 3.7rem;
    float: left;
    padding: 2px;
    box-sizing: border-box;
    cursor: pointer;
}
.navbar .navbar-head{
    float: left;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
.navbar-nav {
    float: right;
}
.navbar .navbar-logo .navbar-nav  {
    font-weight: 500;
}
.navbar .navbar-nav .navbar-item {
    margin:0 1.2rem;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #0a0909;
}
@media only screen and (max-width: 400px)
{
    .navbar img {
        display: none;
    }
    .navbar .navbar-head, .navbar .navbar-nav .navbar-item
    {
        font-size: 0.7rem;
    }
}

/*------ NAV OVER ----------*/

/* ----LANDING PAGE STARTS ------ */
.landing {
  height:100vh;
    display: flex;
}
.landing .img {
    background: url(./imgs/womxn.svg)no-repeat;
    background-size: contain;
    width: 40%;
    height: 100%;
    background-position: center; 
}
.landing .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Monserrat',sans-serif;
    box-sizing: border-box;
    width:60%;
    padding: 0 70px;
    font-size: 1.5rem;
    letter-spacing : 0.3rem;
    line-height: 2rem;
}

/* -----LANDING PAGE ENDS--------- */

/* ----VISION PAGE STARTS----- */
.about-container {
    height: 100vh;
    display: flex;
}
.about-container .about-img{
    background: url(./imgs/diversity.svg)no-repeat;
    background-size: contain;
    width: 30%;
    height: 90%;
    position: absolute;
    right: 4px;
    z-index: -1;
}
.about-container .about-text {
    display: flex;
    justify-content: center;
    font-family: 'Monserrat',sans-serif;
    box-sizing: border-box;
    width:60%;
    padding: 10px 70px;
    font-size: 1.5rem;
    letter-spacing : 0.3rem;
    line-height: 2rem;
    overflow: hidden;
}
@media only screen and (max-width: 400px)
{   
    .landing .text {
        font-size: 1rem;
        letter-spacing: normal;
    }
    .about-container .about-text {
        font-size: 1rem;
        letter-spacing: normal;
        max-width:auto;
        padding: 0%;
    }
    
}
/* ----VISION PAGE ENDS--------- */

/* -----FOOTER STARTS----------- */
.footer {
    background-color: var(--primary);
 padding: 2rem 1rem;
 color: black;
 text-align: center;
 border-top-right-radius: 1rem;
 font-family: 'Scada',sans-serif;
 position:relative;
}
.footer .footer-links {
    text-decoration: none;
    color: brown;
}
/* -----FOOTER ENDS-------------- */

/* --------EVENTS page START ------------- */
.container-img  {
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
}

.container-img .img1 img {
    height: 90%;
    width: 100%;
    padding: 3% ;
    margin: 3rem auto;
}
.container-img .img-2 img {
    height: 10%;
    width: 100%;
    padding: 3% ;
    margin: auto;
}
.container-img .img-3 img {
    height: 10%;
    width: 100%;
    padding: 3% ;
    margin: 0;
}
@media only screen and (max-width: 400px)
{
    .container-img .img1 img, .container-img .img-2 img, .container-img .img-3 img{
        margin: auto;
        
    }
}
/* --------EVENTS ENDS--------------- */

/* ---------CONTACT STARTS----------------- */
.google-form {
    
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.google-form .form-text {
    line-height: 20px;
    color: black;
}
.container-form {
   margin: 10% auto;
   border: 5px solid #b32020;
   display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------CONTACT ENDS------------- */

